@import url(__variables.scss);


body {
    background-color: $red;
    margin-top: 0px;
    font-weight: normal;
}


.container {
    background-color: aqua;
    margin-top: 0px;
    font-weight: normal;
}
